<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://d3js.org/d3.v4.js"></script> 
        <script src="https://unpkg.com/d3@5.6.0/dist/d3.min.js"></script>
        <script src="../static/scripts/d3-legend.min.js"></script>
	    <script src = "../static/scripts/DrawFlow.js"></script>
        <script src = "../static/scripts/DrawRoute.js"></script>
        <script src = "../static/scripts/number_time_day1.js"></script>
        <script src = "../static/scripts/number_time_day2.js"></script>
        <script src = "../static/scripts/number_time_day3.js"></script>
    	<script src = "../static/scripts/sensor_deployment.js"></script>
        <script src = "../static/scripts/id_label.js"></script>
    	<!-- <script src = "../static/scripts/sensor_deployment.js"></script> -->
        <script src = "../static/scripts/DrawBubble.js"></script>
        <script src = "../static/scripts/DrawChord.js"></script>
        <script>
            // var label = [];
            // for (var key in id_label){
            //     var tmp = id_label[key];
            //     if(label.indexOf(tmp)>=0){
            //         continue;
            //     }
            //     else{
            //         label.push(tmp);
            //         document.write(tmp+" ");
            //     }
            // }
            data_day1 = {{data_day1|tojson}}
            data_day2 = {{data_day2|tojson}}
            data_day3 = {{data_day3|tojson}}
            sensor_deployment = {{sensor|tojson}}
            //基本数据
            var sensor = {x_max:15,x_min:0,y_max:28,y_min:0};
            BASIC_DATA = {sensor:sensor,people_MAX:25};
            var people_map = {};
            var sensor_map = {};

            for(var i=0;i<sensor_deployment.length;i++){
                sensor_map[sensor_deployment[i].sid] = i;
            }
            //统计一天的people，目前只处理了第一天的，还不知道这个代码到时候放哪
            //这个地方非常瓶颈，建议后端直接做成json，后端如果要加的话尽量把people做成这个数据结构8
            people = new Array(3);
            people[0] = new Array(0);
            var cnt = -1;
            for(var i=0;i<data_day1.length;i++){
                let id = data_day1[i].id;
                let sid = data_day1[i].sid;
                let time = data_day1[i].time;
                var d_obj;
                if(!people_map.hasOwnProperty(id)){
                    cnt++;
                    people_map[id] = cnt;
                    people[0][cnt] = new Array(0);
                    d_obj = {};
                    var sensor_tmp = sensor_deployment[sensor_map[sid]];
                    d_obj.x = parseInt(-1);
                    d_obj.y = parseInt(-1);
                    d_obj.floor = parseInt(sensor_tmp.floor);
                    d_obj.time = parseInt(time);
                    d_obj.id = parseInt(id);
                    d_obj.sensor_simple_id = sensor_map[sid];
                    people[0][cnt].push(d_obj);
                }
                var index = parseInt(people_map[id]);

                var obj = {};
                var sensor_tmp = sensor_deployment[sensor_map[sid]];
                obj.x = parseInt(sensor_tmp.x);
                obj.y = parseInt(sensor_tmp.y);
                obj.floor = parseInt(sensor_tmp.floor);
                obj.time = parseInt(time);
                obj.id = parseInt(id);
                obj.sensor_simple_id = sensor_map[sid];

                if(people[0][index]) people[0][index].push(obj);
            }
            for(var i=0;i<people[0].length;i++)
                people[0][i].push(d_obj);

            MAP = {people_map:people_map,sensor_map:sensor_map};
            //基本信息处理
            //一楼的sensor
            //sensor_floor1 = new Array(0);
            //二楼的sensor
            //sensor_floor2 = new Array(0);
            sensor_all_floor = new Array(0);
            for(let i=0;i<sensor_deployment.length;i++){
                sensor_all_floor.push(sensor_deployment[i]);
            }
            label_choose = 'all';

        </script>
        <style>
            body{
                background-color: ;
            }
            div{
                float: left;
            }
        </style>
    </head>

    <body>
    <!--<div id="liuyuxiang">-->
            <!--<select id="selectButton"></select>-->
            <!--<div id="vis1"></div>-->
    <!--</div>-->
    <div>
        <div id="liuyuxiang">
            <select id="selectButton"></select>
            <div id="vis1"></div>
        </div>
        <br>
         <div id="chord">
         <svg width="400" height="400"></svg>
        </div>
    </div>


     <div id="main_active">
        <svg id="day_route"></svg>
         <br>
        <button value="all" onclick="ChangeLabelChoose(value)">all</button>
        <button value = 'cleaner' onclick="ChangeLabelChoose(value)">cleaner</button>
        <button value = 'worker' onclick="ChangeLabelChoose(value)">worker</button>
        <button value = 'conference manager' onclick="ChangeLabelChoose(value)">conference manager</button>
        <button value = 'reporter' onclick="ChangeLabelChoose(value)">reporter</button>
        <button value = 'guest' onclick="ChangeLabelChoose(value)">guest</button>
        <button value = 'attendee' onclick="ChangeLabelChoose(value)">attendee</button>
    </div>
<div id="bubble">
		<svg width="600" height="400" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
</div>

        <script>
            function ChangeLabelChoose(val){
                label_choose = val;
            }
            drawFlow();
            drawBubble();
            drawChord();

            var route = drawMainActive(1);
            function Update(currentTime){
                // {#console.log(currentTime);#}
                console.log(currentTime);
                route.update(currentTime);
            }
        </script>
    </body>
<script>
  var currentTime = 25240;
    setTimeout(function () {
    if(currentTime<31270){
      Update(currentTime);
      currentTime++;
      setTimeout(arguments.callee, 5)
    }
  },5);
</script>
</html>
