<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src = "../static/scripts/DrawFlow.js"></script>
        <script>
             data_time_day1 = {{number_time_day1|tojson}};
             data_time_day2 = {{number_time_day2|tojson}};
             data_time_day3 = {{number_time_day3|tojson}};
        </script>
    </head>

    <body>
        <div id="liuyuxiang">
            <select id="selectButton"></select>
            <div id="vis1"></div>
        </div>

        <script>
        drawFlow();
        </script>
    </body>
</html>